:root {
    --color1-primary: #ffffff;
    --color1-secondary: #b4fbff;
    --color2-primary: #000000;
    --color2-secondary: #1b1b1b;
    --background: #000000;
    --transparent: #8b8b8b2e;

}


html {
    transition: background-color .5s ease-in-out;
    color-scheme: dark;
    height: 100%;
}


body {
    font-family: system-ui;
    margin: 0;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--background);
    transition: background-color .5s ease-in-out;
}

img {
    max-width: 100%;
}

p,
a,
h1,
h2,
h3,
span,
li {
    color: var(--color1-primary);
    transition: color .5s ease-in-out;
    text-decoration: none;
}


main,
footer {
    display: flex;
    width: min(200ch, 90%);
    position: relative;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
}

main {
    flex-basis: 80%;
    align-items: center;
    justify-content: center;
}

header {
    width: min(200ch, 90%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-inline: auto;
    margin-top: 1em;
    overflow: visible;

}

footer {
    position: static;
}

button {
    transition: background-color .2s ease-in-out;
    margin: 0;
    border: none;
    border-radius: none;

}


nav {
    display: flex;
    position: absolute;
    left: 5em;
    top: 0;
    max-width: 0;
    transition: .5s;
}


nav.open,
nav:hover {
    max-width: 100%;
}

nav {}

nav ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    overflow: hidden;
    background-color: var(--color2-primary);
    border-radius: 5px;
    z-index: 10;
}



nav li {
    background-color: var(--color2-primary);
    color: var(--color1-primary);
    list-style: none;
    padding: 1em;
    z-index: 10;
}

nav li:hover a {
    font-size: 1.1rem;
}

nav a {
    text-decoration: none;
    color: inherit;
    transition: font-size .2s ease-in-out;

}

nav .active a {
    text-decoration: none;
    color: var(--color1-secondary);
}




.container-nav-dropdown {
    /* display: none; */
}

@media screen and (max-width: 768px) {



    nav {
        position: absolute;
        top: 3em;
        left: 0;
        margin-bottom: -11.5em;
    }

    nav ul {
        flex-direction: column;

    }


    nav li:hover a {
        margin: auto;
        margin-left: -.5em;
    }

}

.page-name {
    cursor: default;
    position: absolute;
    font-size: 3rem;
    margin-top: .5em;
    right: 1em;
    color: var(--transparent);
    z-index: -1;
}

/* Animation for the hamburger button */

.container-hamburger {
    display: flex;
    min-width: 5em;
    height: 5em;
    position: relative;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: margin .5s ease-in-out;
}

.container-hamburger:hover nav {
    max-width: 100%;
}

.btn-hamburger {
    position: relative;
    cursor: pointer;
    margin: 0;
    padding: 0;
    width: 4px;
    border: none;

}

.btn-hamburger,
.btn-hamburger::before,
.btn-hamburger::after {
    transition: width .2s ease-in-out, background-color .5s ease-in-out;
    background-color: var(--color1-primary);
    border-radius: 10px;
    height: 4px;

}

.btn-hamburger::before,
.btn-hamburger::after {
    background-color: var(--color1-secondary);
    content: "";
    display: block;
    position: absolute;
    width: 100%;
}

.btn-hamburger::before {
    top: -10px;
}

.btn-hamburger::after {
    bottom: -10px;
}




.btn-hamburger.active {
    animation: hamburgerMid .5s ease-in-out forwards;
    width: 40px;
}

.btn-hamburger.active::before {
    animation: hamburgerTop .5s ease-in-out forwards;
}

.btn-hamburger.active::after {
    width: 4px;
    animation: hamburgerBottom .5s ease-in-out forwards;
}

.btn-hamburger:not(.active) {
    animation: hamburgerMidReverse .5s ease-in-out forwards;
}


.btn-hamburger:not(.active)::before {
    animation: hamburgerTopReverse .5s ease-in-out forwards;
}

.btn-hamburger:not(.active)::after {
    animation: hamburgerBottomReverse .5s ease-in-out forwards;
    transition: width .4s ease-in-out;
}

@keyframes hamburgerMid {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

@keyframes hamburgerTop {
    0% {
        transform: rotate(0deg);

    }

    100% {
        transform: translateY(10px) rotate(90deg);
    }
}

@keyframes hamburgerBottom {
    0% {
        transform: rotate(0deg);

    }

    100% {
        transform: translateY(-10px) translateX(18px);
    }
}

@keyframes hamburgerMidReverse {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes hamburgerTopReverse {
    0% {
        transform: translateY(10px) rotate(90deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes hamburgerBottomReverse {
    0% {
        transform: translateY(-10px) translateX(16px);
    }

    100% {
        transform: rotate(0deg);
    }
}

.hide {
    display: none;
}

/* Switch between light and dark mode */
.btn-lightdark {
    padding: 1em;
    border: none;
    border-radius: 5px;
    z-index: 1;
    transition: margin .5s ease-in-out;
    background-color: transparent;
}

.btn-lightdark:hover .dark {
    display: block;
}

.btn-lightdark:hover .light {
    display: none;
}

.btn-lightdark .dark {
    display: none;
}

.btn-lightdark i {
    font-size: 2rem;
    color: var(--color1-primary);
    background-color: transparent;
}

@media screen and (max-width: 768px) {

    .container-hamburger {
        margin-left: -.5em;
    }

    .btn-lightdark {
        margin-right: -.5em;
    }
}



.container-name {
    display: flex;
    flex-direction: column;
    text-align: right;
    height: min-content;
    position: fixed;
    top: 50%;
}



.footer-name {
    align-self: center;
    position: absolute;
    bottom: -50px;
    cursor: default;
    z-index: -1;
}

.letter {
    font-size: calc(.2rem + 25vw);
    color: var(--transparent);
    transform-style: preserve-3d;
    transform-origin: center center;
}

.hide,
.name,
.title,
.footer-name {
    opacity: 0;
    transition: opacity .4s ease-in;
}



/* Loading indicator */
.loading {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    opacity: 0;
    top: 50%;
    left: 40%;
    height: 5em;
    width: 5em;
    transition: .5s ease-in-out;
    transform: translate(-50%, -50%);
    border: 2px solid var(--color1-primary);
    padding: 1em;
    border-radius: 5px;
    z-index: 9999;
}

@keyframes spinX {
    0% {
        transform: rotateX(0deg);
    }

    100% {
        transform: rotateX(360deg);
    }
}

@keyframes spinY {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

.loading span {
    font-size: 2rem;
    animation: none;
    animation-iteration-count: infinite;
    transition: opacity .2s ease-in-out;
    transform-style: preserve-3d;
    transform-origin: center center;

}

.loading.active {
    display: flex;
}

.loading span:nth-child(2) {
    animation-delay: .5s;
}

.main-coding {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}


.main-coding .container {
    display: flex;
    flex-direction: column;
    margin: 1em;
    padding: 1em;
    position: relative;
}

.list {
    position: relative;
    width: 50vw;
    max-width: 1200px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.list .child {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    opacity: 0;
    position: absolute;
    opacity: 0;
}


.main-coding .child img {
    border-radius: 5px;
    object-fit: contain;
    transition: filter .2s ease-in-out;
    filter: brightness(90%);

}

.main-coding .child img:hover {
    filter: brightness(100%);
}



.list .active {
    opacity: 1;
    z-index: 1;
    position: relative;
}

.links {
    display: flex;
    flex-direction: row;
    width: 100%;
}




.btn-selector {
    width: 100%;
    padding: 2em;
    transition: background-color .2s ease-in-out;
    border: none;
}

.btn-selector.selected {
    background-color: var(--color1-secondary);
}

.btn-site {
    display: flex;
    justify-content: center;
    font-size: .9rem;
    flex-basis: 50%;
    border-radius: 0;
    text-decoration: none;
    margin: 0;
    border: none;
    padding: 1em;
    background-color: var(--color1-primary);
    color: var(--color2-primary);
    transition: background-color .2s ease-in-out;
}

.btn-site:hover {
    background-color: var(--color1-secondary);
}


@media screen and (max-width: 1210px) {

    .main-coding {
        flex-direction: column-reverse;
        justify-content: flex-start;
    }

    .main-coding .container {
        margin: 0;
        padding: 0;
        width: 100%;
        margin-inline: auto;
    }

    .btn-selector {
        width: auto;
        flex-basis: 34%;
        min-width: none;
        padding-left: 0;
        padding-right: 0;
        margin: 0;
    }

    .container-buttons {
        margin: 0;
        padding: 0;
        display: flex;
        min-width: none;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .main-coding .child img {
        object-fit: cover;
        transition: filter .2s ease-in-out;
        filter: brightness(90%);
        min-width: 100%;
    }

    .list {
        width: 100%;
        height: 70vh;
        overflow: hidden;
    }

    .list .child {
        align-items: center;
        flex-direction: column-reverse;
    }
}

.socials {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    padding: 1em;
}

.socials a:hover {
    color: var(--color1-secondary);
}

.nav-index {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.nav-index a {
    display: flex;
    cursor: pointer;
    background-color: var(--color1-primary);
    color: var(--color2-primary);
    padding: 1em;
    justify-content: center;
    z-index: 3;
    transition: .2s;
}

.nav-index a:hover {
    background-color: var(--color1-secondary);

}


.main-resume {
    overflow-x: scroll;
    height: auto;
}

.main-resume .container {
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;

}

.main-resume .child {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.image-resume {
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
}


.main-resume .container-name-resume {
    display: flex;
    position: relative;
    flex-direction: row;
}


.container-name-resume .child {
    position: relative;
    justify-content: center;
    margin: 1em;
}

.container-programming {
    flex-direction: column;
}